.top-footer {
    background-color: #222222;
    border-top: 1px solid #404040;
    padding: 100px 0 80px;
}
.sticky-header .navbar-light .navbar-nav .nav-item .nav-link {
    color: #000 !important;
}

.sticky-header {
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 6%);
    background: #fff;
}
.footer-bottom {
    text-align: center;
    background-color: #1b1b1b;
    border-top: 1px solid #2c2c2c;
    padding: 30px 0;
}

.top-footer h3 {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.top-footer li a {
    font-size: 13px;
    line-height: 30px;
    color: #bdbdbd;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: color .3s;
    font-family: "Source Sans Pro", sans-serif;
    display: block;
}

.footer-bottom h5 {
    font-size: 12px;
    line-height: 1;
    color: #888888;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 7px;
    margin-bottom: 3px;
}

.footer-bottom h6 {
    font-size: 11px;
    line-height: 15px;
    color: #888888;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.navigation .navbar-light .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    padding: 20px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .2s ease-in-out 0s;
}

.btn-main {
    background: #28ABE3;
    border: 1px solid #28ABE3;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 12px 40px;
    text-transform: uppercase;
    border-radius: 40px;
}

.btn-main:hover {
    color: #fff;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.single-page-header {
    background-image: url("images/slider/slider-bg-2.jpg");
    background-size: cover;
    padding: 140px 0 70px;
    text-align: center;
    color: #fff;
    position: relative;


    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

/*.slider-item::before {*/
/*    position: absolute;*/
/*    content: "";*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background: rgba(0, 0, 0, 0.5);*/
/*    left: 0;*/
/*    top: 0;*/
/*}*/
.single-page-header:before {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}